/*.bat
/**/.idea
/**/glove*.txt
/**/glove*.zip
/sentiment_analysis/reference/text_classification_deeplearning/dataset.csv
/**/*.csv
/**/*.hdf5
/**/__pycache__
/sentiment_analysis/temp/**
/sentiment_analysis/example/**